@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 85vh;
  position: relative;
}
:root {
  --main-color: #e6b30e;
}
.act,
.navbar ul li a:hover {
  color: var(--main-color) !important;
  border-bottom: 1px solid var(--main-color);
}
.theme-text {
  color: var(--main-color) !important;
}

.middle {
  
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80vh;
  width: 70%;
}
.middle h1 {
  font-size: 70px;
}
.titre{
  font-weight: ;
  text-align: center;
  
}
.ligne{
  background-color: black;
  height: 3px;
  width: 250px;
  margin-bottom: 30px;
  border-radius: 5px;
}
#info-principal{
  margin: 30px;
}
#actualites{
  margin: 30px;
}  
#cards{
  margin: 30px;
}
#dernieresVideo{
  margin: 30px;
}
#artistesAfrikZik{
  margin: 30px;
}
#arriere_fond{
  background-color: rgba(6, 83, 4, 0.774);
}
.fond{
  background-color: aliceblue;
}
.card{
  width: 100%;
}
.top_musique{
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}
.bouton_play{
  width: 50px;
  justify-content: center;
  align-items: center;
}
.image{
  min-width: 40%;
}
.liste{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.img_actuelites{
  justify-content: center;
  align-items: center;
}
.cards-parrent{
  width: 30%;
  background-color: #e6b30e;
}
.ii{
  width: 100%;
}
.img_play{
  position: absolute;
  width: 50px;
 
  margin-left: 40%;
  margin-top: 25%;
}
.liste{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cercle{
  background-color: brown;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 4px 0px 0px 13px;
  color: aliceblue;
}
.partie-1{
  display: block;
  width: 65%;
}
.partie-2{
  display: block;
  width: 34%;
}
.partie-2-1{
  display: block;
  width: 49%;
}
.partie-2-2{
  display: block;
  width: 50%;
}
.containerTopMusic{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center ;
  gap: 9px;
}
.containerPrincipal{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.actualitesGauche{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.containerActualites{
  display: flex;
  flex-wrap: wrap;
}
.actualitesGauche{
  display: flex;
  flex-wrap: wrap;
}
.carte{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.imageCarousel{
  height: 500px;
}
.imageActualite{
  width: 200px;
}


@media screen and (max-width: 1245px) {
  .containerPrincipal{display: block;}
  .partie-1{
    width: 90%;
    margin-left: 5%;
  }
  .partie-2{
    width: 90%;
    margin-left: 5%;
  }
  .containerActualites{display: block;}
  .partie-2-1{
    width: 90%;
    margin-left: 5%;
  }
  .partie-2-2{
    width: 90%;
    margin-left: 5%;
  }
  
}
@media screen and (max-width: 800px) {
  
  .imageCarousel{
    height: 450px;
  }  
}
@media screen and (max-width: 400px) {
  
  .imageCarousel{
    height: 300px;
  }  
}